################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Ebra.App/Ebra.App/obj/Debug/netstandard2.0/Ebra.App.assets.cache
*.vsidx
/.vs/Ebra/FileContentIndex/55463a05-7f32-43ec-b197-f31527d0ffc0.vsidx
/.vs/Ebra/FileContentIndex/716dd172-f04f-485c-a429-0ad511af02e9.vsidx
/.vs/Ebra/FileContentIndex/82148fb4-8768-4ef2-9eea-b3b511f28d9a.vsidx
/.vs/Ebra/FileContentIndex/9c381916-7fd8-4a61-aadd-223477a9b523.vsidx
/.vs/Ebra/FileContentIndex/b1e415ea-222f-45a3-8d7e-a4848754558d.vsidx
/.vs/Ebra/FileContentIndex/b58372b8-4af7-49c6-99c9-9f7234d6c219.vsidx
/.vs/Ebra/FileContentIndex/bfb4c4f9-8634-40de-aa03-c61919d427a7.vsidx
/.vs/Ebra/FileContentIndex/c4d2e8cb-eff1-4bdb-a687-ec2aed1724ef.vsidx
/.vs/Ebra/FileContentIndex/d7422e2d-03ed-4ee7-800a-2bdc5aaa1106.vsidx
/.vs/Ebra/FileContentIndex/read.lock
/Ebra.App/Ebra.App.Android/obj/Debug/130/designtime/build.props
/Ebra.App/Ebra.App.Android/obj/Debug/130/designtime/Resource.designer.cs
/Ebra.App/Ebra.App.Android/obj/Debug/130/DesignTimeResolveAssemblyReferencesInput.cache
/Ebra.App/Ebra.App.Android/obj/Debug/130/Ebra.App.Android.csproj.AssemblyReference.cache
/Ebra.App/Ebra.App.Android/obj/Debug/130/libraryprojectimports.cache
/Ebra.App/Ebra.App.Android/obj/Ebra.App.Android.csproj.nuget.dgspec.json
/Ebra.App/Ebra.App.Android/obj/project.assets.json
/Ebra.App/Ebra.App.Android/obj/project.nuget.cache
/Ebra.Server.API/obj/Debug/net7.0/Ebra.Server.API.assets.cache
/Ebra.Server.API/obj/Debug/net7.0/Ebra.Server.API.GeneratedMSBuildEditorConfig.editorconfig
/Ebra.Server.API/obj/Ebra.Server.API.csproj.nuget.dgspec.json
/Ebra.Server.API/obj/project.assets.json
/Ebra.Server.API/obj/project.nuget.cache
/Ebra.App/Ebra.App/obj/project.assets.json
/Ebra.App/Ebra.App/obj/project.nuget.cache
/Ebra.App/Ebra.App/obj/Debug/netstandard2.0/Ebra.App.GeneratedMSBuildEditorConfig.editorconfig
/Ebra.App/Ebra.App/obj/Ebra.App.csproj.nuget.dgspec.json
/.vs/Ebra/v17/.suo
/Ebra.App.UITest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Ebra.App.UITest/obj/Ebra.App.UITest.csproj.nuget.dgspec.json
/Ebra.App.UITest/obj/project.assets.json
/Ebra.App.UITest/obj/project.nuget.cache
